<h1>Cadastro de Veterinários</h1>
<form action="/veterinarios/cadastro" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>

    <label for="especialidade">Especialidade:</label>
    <input type="text" id="especialidade" name="especialidade">

    <label for="telefone">Telefone:</label>
    <input type="tel" id="telefone" name="telefone">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="data_contratacao">Data de Contratação:</label>
    <input type="date" id="data_contratacao" name="data_contratacao" required>

    <button type="submit">Cadastrar</button>
</form>
